{% extends 'base.html.twig' %}

{% block title %}Arsenal FC
{% endblock %}


{% block body %}

	{% include "./default/navbar.html.twig" %}

	<h1 class="mb-5">Équipe 1</h1>

	<div class="row">
		{% for player in playerTeam1 %}
			<div class="col-lg-4">
				<div class="card mx-auto mb-5" style="width: 18rem;">
					<img src="{{ asset(player.photo) }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5>{{ player.prenom }}</h5>
						<h3>{{ player.nom }}</h3>
						<p>Âge : {{ player.age }}</p>
						<p>Nationalité :
							{{ player.nationalite }}</p>
						<p>Poste :
							{{ player.poste }}</p>
						<p>Numéro :
							{{ player.numero }}</p>
					</div>
				</div>
			</div>
			{% if loop.index % 3 == 0 %}
			</div>
			<div class="row">
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
